<h1><span data-i18n="skills.my_skills">About</span></h1>
<div id="post">
    <article class="post-content">
    I am a Pre-Final year undergraduate student at the Indian Institute of Technology, Guwahati in Electronics and Electrical Engineering with a minor in Computer Science.<p>
    My research interests lie in the field of Deep Learning and Computer Vision, with an extention to Natural Language Processing. I have worked with Object Detection and Optical Character Recognition models.<p>
    Apart from my course curriculum including courses on Linear Algebra, Probability and Random Processes, I have completed online courses such as the Machine Learning course and the Deep Learning Specialization (DL.ai) by Andrew Ng, Data Structures and Algorithms, AI for Robotics and Introduction to Computer Vision. I also spend time reading research papers on different Deep Learning architectures (For eg- AlexNet, FaceNet, ResNet etc.).<p>
    I am a fast, dedicated learner with good time management abilities who is skilled in Python, with experience in frameworks such as Tensorflow and Keras, Java, C and C++.<p>
    Besides research, I worked for 2 years, first year as an organizer, and second year as a Module Head and a Core Team member in the annual Techno-Management fest of IIT Guwahati, Techniche. I am also the current Branch Representative of my department.<p>
    I also love solving puzzles. Although I don't do it that often anymore, please do ping me if you've got one :) <p>
    </article>
</div>
