<h1><span data-i18n="skills.my_skills">Skills</span></h1>
<div class="row">
    <div class="col l4">
        <div class="row">
                {% for skillset in site.data.index.skills %}
    <h3>{{ skillset.name }}</h3>
    <ul>
    {% for skillname in skillset.list %}
      <li> {{ skillname }}
    {% endfor %}
    </ul>
  {% endfor %}        
        </div>
    </div>

    <div class="col l4 offset-l1">
        <div class="row">
            {% for skillset in site.data.index.skills2 %}
                <h3>{{ skillset.name }}</h3>
                 <ul>
                  {% for skillname in skillset.list %}
                    <li> {{ skillname }}
                  {% endfor %}
                </ul>
            {% endfor %}   
        </div>
    </div>    
</div>
