---
layout: default
---
<div class="row">
    <div class="col l7">
        <div class="row">
            <div class="col">
            {% include sections/skills.html %}
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                {% include sections/projects.html %}
            </div>
        </div>
    </div>

    <div class="col l4 offset-l1">
        <div class="row">
            {% include sections/career.html %}    
        </div>
        <div class="row">
            {% include sections/education.html %}    
        </div>
        <div class="row">
            {% include sections/courses.html %}    
        </div>
    </div>
    <div class="share-buttons">
  <ul>
    <li><a class="btn" href= "{{ site.url }}/" >
      Home
    </a>
    </li>
    <li><a class="btn btn-info" href= "{{ site.url }}/My_Resume.pdf" >
        <i class="fa fa-file-pdf-o"></i> Download Resume
        </a>
    </li>
  </ul>
</div>
</div>
